.spin-wrapper {
  height: 100%;
}

.list {
  height: 100%;
  overflow: auto;
}

.list .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.list .item.active {
  background-color: #eee;
}

.list .item:last-child {
  border-bottom: none;
}

.list .item .title {
  display: block;
  color: #e4002d;
  font-weight: 700;
  padding: 0;
}

.list .item .title small {
  font-weight: 400;
}

.list .item.active .title,
.list .item .title:hover {
  opacity: 0.7;
}

.list .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #e4002d;
  border-radius: 0;
}
